/* **************************** COLORS **************************** */
$cblack: #010101;
$cred: #fd0130;
$cyellow: #ffee08;
$cblue: #02d7f2;
$cgray: #CDCDCD;

$text-black: #010101;
$text-white: #fff;
$text-blue: #02d7f2;
$text-gray: #888;

/* **************************************************************** */
