@import '../../globalStyles/_vars.scss';

.CButtonContainer {
  display: block;
  position: relative;
  width: 150px;
  height: 64px;

  &:not(.disabled):hover {
    .Mask {
      transform: translate(3px, 3px);
    }
  }
}

.CButton {
  display: block;
  color: $text-white;
  background-color: $cblack;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  -webkit-mask-size: cover;
  mask-size: cover;

  z-index: 10;

  &:hover {
    cursor: pointer;
    color: $text-blue;
  }

  &:focus {
    background-color: $cred;
  }

  &:active {
    background-color: $cblue;
    color: $text-black;
  }

  &:disabled {
    background-color: $cgray;
    color: $text-gray;
  }
}

.Mask {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: $cblue;
}

.CButtonA {
  @extend .CButton;
  mask-image: url(../../assets/png/A.png);
}
.MaskA {
  @extend .Mask;
  mask-image: url(../../assets/png/A.png);
}

.CButtonB {
  @extend .CButton;
  mask-image: url(../../assets/png/B.png);
}
.MaskB {
  @extend .Mask;
  mask-image: url(../../assets/png/B.png);
}

.CButtonC {
  @extend .CButton;
  mask-image: url(../../assets/png/C.png);
}
.MaskC {
  @extend .Mask;
  mask-image: url(../../assets/png/C.png);
}

.CButtonD {
  @extend .CButton;
  mask-image: url(../../assets/png/D.png);
}
.MaskD {
  @extend .Mask;
  mask-image: url(../../assets/png/D.png);
}

.CButtonE {
  @extend .CButton;
  mask-image: url(../../assets/png/E.png);
}
.MaskE {
  @extend .Mask;
  mask-image: url(../../assets/png/E.png);
}

.CButtonF {
  @extend .CButton;
  mask-image: url(../../assets/png/F.png);
}
.MaskF {
  @extend .Mask;
  mask-image: url(../../assets/png/F.png);
}

.CButtonG {
  @extend .CButton;
  mask-image: url(../../assets/png/G.png);
}
.MaskG {
  @extend .Mask;
  mask-image: url(../../assets/png/G.png);
}

.CButtonH {
  @extend .CButton;
  mask-image: url(../../assets/png/H.png);
}
.MaskH {
  @extend .Mask;
  mask-image: url(../../assets/png/H.png);
}

.CButtonI {
  @extend .CButton;
  mask-image: url(../../assets/png/I.png);
}
.MaskI {
  @extend .Mask;
  mask-image: url(../../assets/png/I.png);
}

.CButtonJ {
  @extend .CButton;
  mask-image: url(../../assets/png/J.png);
}
.MaskJ {
  @extend .Mask;
  mask-image: url(../../assets/png/J.png);
}

.CButtonK {
  @extend .CButton;
  mask-image: url(../../assets/png/K.png);
}
.MaskK {
  @extend .Mask;
  mask-image: url(../../assets/png/K.png);
}

.CButtonL {
  @extend .CButton;
  mask-image: url(../../assets/png/L.png);
}
.MaskL {
  @extend .Mask;
  mask-image: url(../../assets/png/L.png);
}

